@import "tailwindcss";

header {
  background: rgba(19, 19, 63, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid indigo;
}
.line-reverse,
.nav-item {
  position: relative;
}
.line-reverse::after,
.nav-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background: #ffffff;
  bottom: -10px;
  left: 0;
  transition: all ease 0.2s;
}
.nav-item:hover::after {
  width: 100%;
}
.line-reverse::after {
  width: 100%;
}
.line-reverse:hover::after {
  width: 20px;
}



/* Reviews Section Work Here */
.reviews-sec{
  background: url(../assets/Home/review-bg.jpg) no-repeat;
  height: 500px;
}